*{
  margin: 0px;
  padding: 0px;
  /* background-color: wheat; */
  /* background-color: gray; */



}
body{
  background-color: lightgrey;
}
.header{
  height: 70px;
  background-color: rgb(44, 40, 40);
  color: white;
  margin-top: 0px;
}
#main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px ;
  background-color: lightgray;
}
.div{

  height: 500px;
  width: 400px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  border-radius: 5px;
  border: 1px solid grey;
  
 
}
.table{
  border-collapse: collapse;
  border-color: black;
  border-width: 2px;
  margin-top: 15px;
  width: 800px;
}
button{
  height: 25px;
  width: 80%;
  background-color: rgb(44, 40, 40);
  color: white;
  margin-top: 10px;
  border-radius: 7px;
}
input{
  position: relative;
  width: 80%;
  height: 20px;
}
form,select{
  position: relative;
  
  width: 80%;
  height: 80%;
  margin-top: 10px;
}
select{
  height: 20px;
}
#navbar{
  background-color:  whitesmoke;
  margin: 7px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;

}
#update{
  background-color: green;
}
#delete{
  background-color: red;
}
